h1{
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 47px 0 0 0;
	color: #fff;
	text-shadow: 1px 1px 0 #000, 2px 2px 0 #000,3px 3px 0 #000,4px 4px 0 #000, 5px 5px 0 #000;
	font: 100 56px "pokemon", arial;
}
.ss-body{
	text-align: center;
	 background: rgb(33,0,36);
	background: -webkit-linear-gradient(48deg, rgba(33,0,36,1) 0%, rgba(173,19,163,1) 35%, rgba(164,0,255,1) 100%);
	background: -o-linear-gradient(48deg, rgba(33,0,36,1) 0%, rgba(173,19,163,1) 35%, rgba(164,0,255,1) 100%);
	background: linear-gradient(138deg, rgba(33,0,36,1) 0%, rgba(173,19,163,1) 35%, rgba(164,0,255,1) 100%); 
	height: 100vh;
}
h3{
	font: bold 23px arial;
	color: #fff;
}